<section class="section background">
  <div class="section__title">Education</div>
  <div class="section__content">

    <p>
      Master of Science in <strong>Computer Science</strong>
      </br>
      Graduate Date: <strong>Dec 20, 2026</strong>
      </br>
      University of Massachusetts - Amherst </br>
      Amherst, MA, USA </br>
      <!-- <div class="project">
      <div class="project__name">
        <a href="{{site.academic_record}}" target="_blank" class="arrow-link">GPA: 3.9/4.0</a>
      </div>
    </div> -->
    </p>
    </br></br>

    <p><strong> CERTIFICATE </strong></p>
    {% for cert in site.data.certificates %}
    <div class="project">
      <div class="project__name">
        <a href="{{cert.url}}" target="_blank" class="arrow-link">{{cert.name}}</a>
      </div>
      <p>{{cert.description}}</p>
    </div>
    {% endfor %}


  </div>
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I was born in Laos, a small country and beautiful, locates in southeastern Asia,
      and my second language is Chinese. In 2004, I studied first year in Lao university,
      I got a full Chinese Scholarship by exam, and went to study undergraduate
      of Architecture major in China at South China University Of Technology.
      After finished bachelor degree 2010
      and worked as architect until 2016 in Shenzhen and Guangzhou,
      I decided to look for a new opportunity
      to explore the new experience in USA.
      Then, I finish the Bachelor's degree
      at Metropolitan State University for computer science major on May 2022. Right now,
      I am pursuing a Master's degree in computer science at UMass Amherst.
    </p>
    <p>COMMUNICATIONS & LEADERSHIP </br>
      I like to meet and share Idea with new friends, classmate, colleague.
      I think Team work is the best way for efficiency working because easy
      communicate to work well together. I have participated many activities,
      social groups and clubs like: PTK, CS club, and International students club.
    </p>

  </div>
</section>