<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">AI Tools&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <ul>
          {% for ai in site.data.skills.ai_tools %}
          <li class="skillz__category__item">{{ai.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Languages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Algorithm&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="skillz__category__label">Data-structure&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <ul>
          {% for dsa in site.data.skills.dataStruc_algorithm%}
          <li class="skillz__category__item">{{dsa.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Frameworks&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <ul>
          {% for framework in site.data.skills.frameworks %}
          <li class="skillz__category__item">{{framework.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Cloud Computing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="skillz__category__label">Big Data</div>
        <ul>
          {% for thing in site.data.skills.cloudComputing_bigData %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Machine Learning&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="skillz__category__label">Deep Learning&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <ul>
          {% for thing in site.data.skills.machineLearning_deepLearning %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Tools</div>
        <div class="skillz__category__label">Networking</div>
        <ul>
          {% for tool in site.data.skills.tools_networking %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>

      {% comment %} <div class="skillz__category">
        <div class="skillz__category__label">Machine Learning</div>
        <ul>
          {% for thing in site.data.skills.ML %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div> {% endcomment %}
    </div>
  </div>
</section>